body
{
    background-color: rgb(114, 103, 103);
}
div
{
    /* border:2px solid black; */
    /* border-radius:50%; */
    width:70px;
    height: 70px;
    visibility:hidden;
    position: absolute;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);

    
}
